.component-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #8e8989;
    transition: transform 0.2s;
}


.component-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 12px;
}

.prev-button{
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}
.next-button {
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }

.button-container2 {
    display: flex;
    justify-content: space-between; /* This will push the buttons to the edges */
    margin-top: 12px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

button:hover {
    background-color: #218838;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


