Flask
python-dotenv
google-generativeai
annotated-types              
anyio                        
blinker                     
breadability                
cachetools                  
certifi                     
chardet                    
charset-normalizer           
click                        
colorama                     
Contentstack                 
distro                       
dnspython                    
docopt                       
exceptiongroup               
filelock                                             
Flask-Cors                  
fsspec                                        
google-ai-generativelanguage 
google-api-core              
google-api-python-client     
google-auth                  
google-auth-httplib2         
googleapis-common-protos     
grpcio                       
grpcio-status               
h11                          
httpcore                    
httplib2                     
httpx                                 
idna                         
itsdangerous                 
Jinja2                       
jiter                   
joblib                       
Levenshtein                  
lxml                     
MarkupSafe                   
numpy                        
packaging                    
pip                          
proto-plus               
protobuf                   
pyasn1                      
pyasn1_modules             
pycountry                  
pydantic                 
pydantic_core                
pymongo                      
pyparsing                    
pyperclip                    
python-dateutil              
python-dotenv            
python-Levenshtein          
PyYAML                      
RapidFuzz                  
regex                      
requests                    
rsa                         
safetensors               
scikit-learn                
scipy                       
setuptools                  
six                         
sniffio                      
SpeechRecognition         
Summy                      
sumy                       
svgwrite                    
threadpoolctl                
tqdm                         
transformers                
typing_extensions            
urllib3               
Werkzeug                    
